*{
  box-sizing: border-box;
}

body{
  margin:0;
}

nav{
  height:70px;
  display: flex;
  padding:5px;
  box-shadow: 0 15px 10px -2px rgba(0, 0, 0, .2);
}


.grey {
  color:grey;
}
.nav--logo{
  max-width: 100px;
}

section{
  padding:20px;
}

.hero{
  display:flex;
  flex-direction: column;
}

.hero--photo {
  width:auto;
  height:500px;
  align-self: center;
}
.hero--header{
  margin-bottom:16px;
}

.hero--text {
  margin-top:0;
}

.card {
  width:175px;
  font-size: 20px;
}

.card--image {
  width:100%;
  border-radius: 10px;
}
.card--stats{
  display:flex;
  align-items: center;
}

























/*    MY CSS    STYLE   */

/* .card {
 float:left;
 width:25%;
 padding:0 10px;
}

.card--img{
display: flex;
width:200px;
height:auto;
border-radius: 10px;
}
.rating {
  margin-top:10px;
}

.card--details{
  padding: 5px;
}
.all-cards{
 margin:0 -5px;
 margin-top:30px;
 padding:20px;
}
.all-cards:after{
  content:"";
  display:flex;
  clear:both;
}

.card--cost{
  margin-bottom:30px;
}
@media screen and (max-width: 700px) {
  .card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */
